<footer class="bg-primary text-white">
  <ul class="container d-flex align-items-center list-unstyled">
    <li class="mr-auto mr-lg-8">
      <a href="#" class="py-8">
        <img src="assets/images/d’Perfumewhite.png">
      </a>
    </li>
    <li class="h7">
      © 2020. All Rights Reserved.
    </li>
    <ul class="d-none d-lg-flex ml-auto list-unstyled">
      <li class="mr-14">
        <a href="products.html" class="text-white py-9 h5">Product</a>
      </li>
      <li class="mr-14">
        <a href="#" class="text-white py-9 h5">Blog</a>
      </li>
      <li>
        <a href="#" class="text-white py-9 h5">Contact</a>
      </li>        
    </ul>
  </ul>
</footer>