<nav class="d-none d-lg-block bg-primary">
  <div class="container">
    <ul class="d-flex align-items-center list-unstyled">
      <li>
        <a href="#" class="nav__link mr-11 h5">CHANEL</a>
      </li>
      <li>
        <a href="#" class="nav__link mr-11 h5">Jo Malone</a>
      </li>
      <li>
        <a href="#" class="nav__link mr-11 h5">Curology</a>
      </li>
      <li>
        <a href="#" class="nav__link mr-11 h5">Dior</a>
      </li>
      <li>
        <a href="#" class="nav__link mr-11 h5">Chloe</a>
      </li>
      <li>
        <a href="#" class="nav__link h5">ZARA</a>
      </li>  
    </ul>
  </div>
</nav>