.banner {
  min-height: 30rem;
  background-image: url('../images/index1.jpg');
  @include bg-full(cover);
  @include desktop-s {
    min-height: 54.375rem;
  }
  &__link {
    padding: 0.5rem 6.75rem;
    border: 1px solid $white;
    border-radius: 1.875rem;
    text-align: center;
    color: $white;
    font-size: 1.75rem;
    @include transition(0.25s);
    &:hover {
      background-color: $primary;
      border-color: $primary;
      color: $white;
    }
  }
}