.nav {
  &__link {
    padding-top: 0.75rem;
    padding-bottom: 0.625rem;
    border-bottom: 0.25rem solid transparent;
    color: $white;
    @include transition(0.25s);
    &:hover {
      border-color: $white;
      color: $white;
    }
  }
}